
<div class="navbar-dropdown is-boxed is-medium">
  <!-- Dropdown item -->
  <a class="navbar-item is-menu" href="/insights.html">
    <i class="material-icons">lightbulb_outline</i>
    <span>Insights</span>
  </a>
  <!-- Dropdown item -->
  <a class="navbar-item is-menu" href="/analysis.html">
    <i class="material-icons">insert_chart</i>
    <span>Analysis</span>
  </a>
  <!-- Dropdown item -->
  <a class="navbar-item is-menu" href="/live.html">
    <i class="material-icons">dashboard</i>
    <span>Live</span>
  </a>
  <!-- Dropdown item -->
  <a class="navbar-item is-menu" href="/awareness.html">
    <i class="material-icons">tag_faces</i>
    <span>Awareness</span>
  </a>
</div>
